
/Portal/src/ViewContent/gallery
/_ReSharper.Guruji
/Guruji.4.5.resharper.user
/Guruji.suo
/Portal/test/obj/Debug/TempPE
/Portal/test/obj/Debug/PortalTests.csproj.FileListAbsolute.txt
/Portal/test/obj/Debug/ResolveAssemblyReference.cache