body { font: 400 normal 13px/21px 'Droid Sans', "Arial", Arial, Helvetica, sans-serif; }
body { background:#fffdf4; color: #402A23; margin:0; padding:0; }
strong {color:#493E2C;}
/*header*/
.header_wrap { width:100%;background:#5a4939; }
a {outline:0;border:0;}
.logo a {margin-left:-3px;}
.header, .footer, .featured_area, .main_content { width:960px; margin:0 auto; }
.header { height: 81px; }
/* This is the custom header image */
#branding img { border-top: 4px solid #000; border-bottom: 1px solid #000; clear: both; display: block; }
a:link { color: #0a82af; }
a:visited { color: #0a82af; }
a:active, a:hover { color: #f26522;}
h1.logo { padding: 18px 0 0; float:left;}
/*naivgation*/
.nav_wrap { clear:both; background: url(/ViewContent/images/nav_bg.jpg) repeat-x scroll left top; height: 40px; }
.nivo-controlNav {color: #493E2C;padding-right: 10px;z-index: 99;}
.primary_navigation { margin:0 auto; width:960px; position:relative; z-index:1000; }
#nav { }
#nav, #nav ul { position:relative; float:left; list-style-type:none }
#nav a { color: #4f250f; font: 16px "Trebuchet MS", Arial, Helvetica, sans-serif; padding: 9px 20px 9px 10px; display:block; }
#nav a:hover { color:#c25a25 }
#nav li { float:left; position:relative; padding: 0 0 0 10px; height: 40px; margin:0 1px; behavior: url(/ViewContent/css/PIE.htc);}
#nav li.last a { background-image:none; }
#nav ul { position:absolute; display:none; width:auto; top:40px; background:#5a4939; padding:10px 0; left:0px; }
#nav li ul a { width:12em; height:auto; float:left; color:#c25a25; padding: 5px 10px 5px 20px; text-transform:none; display:block; text-align:left; }
#nav li.on.trigger { cursor:default;  background: url(/ViewContent/images/nav_current.jpg) repeat-x scroll left top; display:block; }
#nav li.current { background: url(/ViewContent/images/nav_current.jpg) repeat-x scroll left top; display:block; behavior: url(/ViewContent/css/PIE.htc);}
#nav li.current a { color:#F6F6F6;}
#nav li.on.trigger a:hover { color:#F6F6F6;}
#nav li.on.trigger ul li a { cursor:pointer; }
#nav li ul a:hover, #nav li.on.trigger ul li a:hover { color:#c25a25; background:#f1ead0; }
#nav li.on.trigger { background: url(/ViewContent/images/nav_current.jpg) repeat-x scroll left top; }
#nav li.on.trigger a { color:#fff; }
#nav ul ul { top:auto; }
#nav li ul li { padding:0; }
#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li:hover ul ul ul ul { display:none; }
#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li li li li:hover ul { display:block; -moz-border-radius:0 0 4px 4px;-webkit-border-radius: 0 0 4px 4px;border-radius:0 0 4px 4px;behavior: url(/ViewContent/css/PIE.htc);}
#nav .sub_menu li {height:auto;}
/*banner*/
.banner { width:960px; margin:10px auto; height:250px; background: url(/ViewContent/images/sliderShadow.png) repeat-x scroll left bottom;padding-bottom:42px;}
.featured_img { background: url("/ViewContent/images/sliderShadow.png") repeat-x scroll left bottom transparent;height: 241px;margin: 10px auto 0;width: 960px;}
/*news tickr*/
.news_tickr {
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    background: none repeat scroll 0 0 #C7C498;
    color: #414032;
    padding: 5px 10px 2px;
    width: 940px;
    margin: -20px 0 20px;
    -moz-box-shadow: 0 10px 20px #CCC;
    -webkit-box-shadow: 0 10px 20px #CCC;
    box-shadow: 0 10px 20px #CCC;
	behavior: url(/ViewContent/css/PIE.htc);}
/*sections*/
.section_cont { margin: 20px 0; overflow: hidden; width: 960px;}
.section { float:left; width:220px; }
h3 {
    color: #F26522;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.2;
    margin-bottom: 6px;
}
h2 {background: none repeat scroll 0 0 #C7C498;color: #414032;display: block;font-size: 17px;font-weight:normal;line-height: 1.2;margin-bottom: 10px;padding: 3px 12px 3px 0;text-align: right;
    -moz-border-radius: 12px 12px 12px 12px;-webkit-border-radius: 12px 12px 12px 12px;border-radius: 12px 12px 12px 12px;behavior: url(/ViewContent/css/PIE.htc);}
.section .section_img { margin-bottom:5px; border: 1px solid #CCCCCC;}
.section  p { font-size:13px;text-align: justify;}
.mar20 { margin: 0 25px;}
.mar_right20 {margin-right:25px;}
.literature_row {overflow: hidden;padding: 10px 20px;}

/*kathas&events*/
.tab_head {padding:0 10px 0px 10px;margin: 1px 0 5px; overflow:hidden; font-weight: bold; background:#5A4939;-moz-border-radius: 4px 4px 4px 4px;-webkit-border-radius: 4px 4px 4px 4px;border-radius:4px 4px 4px 4px;behavior: url(/ViewContent/css/PIE.htc);border-bottom: 3px solid #FF8C00;}
.tab_head .tab_link:hover {color:#FF8C00;}
.tab_head .tab_link {
    display: block;
    float: left;
    margin-right: 15px;
    padding:5px 10px;
    color:#f6f6f6;
    font-size: 15px;
    font-weight: normal;
}
.tab_head .tab_link.selected_tab {
    background: none repeat scroll 0 0 #FF8C00;
    color: #F6F6F6;
    cursor:default;
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;border-radius:4px 4px 0 0;behavior: url(/ViewContent/css/PIE.htc);
}

.teaser_content {
    background: none repeat scroll 0 0 #5A4939;
    display: block;
    margin-top: 5px;
    padding: 5px 0 5px 10px;
    cursor:pointer;
    color:#F6F6F6;
    -moz-border-radius: 0 0 4px 4px;-webkit-border-radius: 0 0 4px 4px;border-radius:0 0 4px 4px;behavior: url(/ViewContent/css/PIE.htc);
}
.teaser_content:hover{background: none repeat scroll 0 0 #FF8C00;}
.teaser_content.on {background: none repeat scroll 0 0 #FF8C00;-moz-border-radius: 4px 4px 0 0;-webkit-border-radius: 4px 4px 0 0;border-radius:4px 4px 0 0;behavior: url(/ViewContent/css/PIE.htc);}
.detailed_content { padding: 10px 20px;overflow:hidden;-moz-border-radius:0 0 4px 4px;-webkit-border-radius: 0 0 4px 4px;border-radius:0 0 4px 4px;behavior: url(/ViewContent/css/PIE.htc);border-bottom: 3px solid #FF8C00;border-left: 1px solid #FF8C00;border-right: 1px solid #FF8C00;}
.detailed_content p{padding:10px 0; clear:both;}

.detailed_content .details{border-right: 1px dotted #CCCCCC;float: left;margin-right: 20px;padding: 0 20px 0 0;width: 320px;}
.tab_content {overflow: hidden;}


.main_content {clear:both; }
.left_box {width:458px;float:left;margin-top:10px;}
.left_box.border_right {padding-right:20px;}
.right_box {width:458px;float:right;margin-top:10px;padding-left:20px;}
.donate_modes .right_box {border-left:1px dotted #CCCCCC;}

.content_section {width:458px; padding-bottom:15px; margin-bottom:15px; border-bottom:1px dotted #CCCCCC;text-align: justify;overflow:hidden;}
.content_section p {margin-bottom:5px; text-align:justify;}
.content_section.last {margin-bottom:0px; border:none;}

.img_content {float:left;padding:0 0 20px 12px;width:189px;}
.content_section  p.quote,span.quote {margin:10px 0px; font-weight:bold; color:#5A4939; font-family:Arial Unicode MS; font-size:1.1em;}

.page_quote { float: left;text-align: center;width: 960px;font-family:Arial Unicode MS;margin-bottom:25px;}
.page_quote h1 {color: #F26522;font-size:1.1em;}
.page_quote p {color: #5A4939;}

.hide {display:none;}
.show {display:block;}
.spacer {width:900px; border:border-style:dotted;}
.first_letter {font-size:1.5em;font-weight:bold;}
.second_letter {font-size:1.5em;}

/* Carousel */
.carousel_item {float:left; margin-right:5px; border:1px solid #CCCCCC; opacity:0.67;}
.carousel_item:hover {border:solid 1px black; cursor:pointer; opacity:1;}
.carousel_item.carousel_selected {border:solid 2px #4F250F; cursor:default; opacity:1;}
.carousalimg {overflow:hidden;}

/* Video */
.video_playlist { float: left;margin: 20px;width: 180px;border: 1px solid #CCCCCC;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px 4px 4px 4px;}
.video_playlist ul {display:block;overflow:hidden; text-align:center;behavior: url(/ViewContent/css/PIE.htc);}
.youtube_iframes {margin-top:20px;}
.video_selected {background:#FF8C00;color:#F6F6F6;}

/*gallery*/
#gallery_container {padding: 0 10px;}
.album_link {font-size:12px;}
.section .controls {float:right; margin:10px 20px 0 0;}
.controls a {font-size:12px;}
.download a {font-size:12px;}

.page_heading 
{
	-moz-border-radius:4px 4px 4px 4px;-webkit-border-radius: 4px 4px 4px 4px;border-radius:4px 4px 4px 4px;behavior: url(/ViewContent/css/PIE.htc);
	border-bottom: 2px solid #F26522;
    color: #5A4939;
    font-size: 25px;
    margin: -15px 0 10px;
    overflow: hidden;
    padding: 4px 0 5px 10px;
	}


/*tabs*/
.tabs {padding:0 10px;}

iframe {-moz-box-shadow: 0 0 29px #000000;-webkit-box-shadow: 0 0 29px #000000;box-shadow: 0 0 29px #000000;margin: 18px 0 30px 80px;behavior: url(/ViewContent/css/PIE.htc);}

/*footer*/
.footer_wrap { background:#f1dd98 url(/ViewContent/images/footer.jpg); height: 138px; clear: both;margin-top:10px;}
.footer {margin-top: 15px;overflow: hidden;padding-left: 36px;width: 615px;}    
   
.copyright {
    font-size: 11px;
    padding-top: 10px;
    position: relative;
    text-align: center;
}
.copyright img {height: 18px;left: 522px;position: absolute;}
.footer ul{float: left;overflow: hidden;}
.footer li a{font-size: 12px;}

.phone_number {border-left: 1px dotted #CCCCCC;border-right: 1px dotted #CCCCCC;margin:0 10px;padding:0 5px;}

/*facebook*/
.fb_login {float:right;width:177px;}
.fb_login img {float: left;margin-right: 10px;border:1px solid;}

/*Donation Page*/
.donate_modes {border-bottom: 1px dotted #CCCCCC;clear: both;margin-bottom: 20px;overflow: hidden;}
.donate_modes ul{margin-top: 10px;}
.donate_modes p.important{font-size:1em; margin-top:20px;}
.content_section li{font-size:0.9em;}

/*Lightbox Styles*/
.simple_overlay {height:380px;display:none;z-index:10000;background-color:#FF8C00;width:714px;border:1px solid #666;-moz-box-shadow:0 0 90px 5px #000;-webkit-box-shadow: 0 0 90px 5px #000;box-shadow: 0 0 90px 5px #000;behavior: url(/ViewContent/css/PIE.htc);}
.simple_overlay .close {background-image:url(/ViewContent/images/close.png);position:absolute;right:-15px;top:-15px;cursor:pointer;height:35px;width:35px;}
#triggers {margin-left:5px;}
#triggers img:hover{background-color: #AABBAA;border:1px solid #AABBAA;}
#triggers img {cursor:pointer;margin:0 25px 35px;background-color:#fff;border:1px solid #ccc;padding:2px;-moz-border-radius:4px;-webkit-border-radius:4px;border-radius:4px 4px 4px 4px;-webkit-box-shadow: 0px 0px 12px #000000;-moz-box-shadow: 0px 0px 12px #000000;box-shadow:0px 0px 12px #000000;behavior: url(/ViewContent/css/PIE.htc);}

.simple_overlay .content {position:absolute;top:28px;right:20px;font-size:12px;color:#000000;width:486px;text-align:justify;}
.simple_overlay h3 {color:#001722;font-size:16px;margin: 10px 0 10px 10px;}
.simple_overlay img {border: 2px solid #AABBAA;}

.content .award_name {color: #5A4939;font-weight: bold;}

/* Contact Us */
.contactus {color:#f6f6f6;cursor:pointer;float:right;}
.contactus:hover {color:#f26522;}
#contactus_overlay li {margin:15px 20px 0;background: url("/ViewContent/images/bullet.png") no-repeat scroll -21px 1px transparent;padding-left:20px;}
#contactus_overlay.simple_overlay {background-color: #F6F6F6;}
#contactus_overlay.simple_overlay h3 {color: #F26522; margin-left:20px;}
.overlay_on {display: block;left: 353.5px;position: fixed;top: 47.7px;z-index: 10000;}